<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="TwinCAT.Ads" publicKeyToken="180016cd49e5e8c3" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="2.1.11.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>