<settings>
  <UpdateTime>100</UpdateTime>
  <AMSNETID>&lt;Local&gt;</AMSNETID>
  <ShowType>True</ShowType>
  <ShowNote>True</ShowNote>
  <ShowSize>True</ShowSize>
  <ShowArraySize>True</ShowArraySize>
  <DataGridViewWidthID>70</DataGridViewWidthID>
  <DataGridViewWidthDescription>250</DataGridViewWidthDescription>
  <DataGridViewWidthType>70</DataGridViewWidthType>
  <DataGridViewWidthNode>70</DataGridViewWidthNode>
  <DataGridViewWidthSize>70</DataGridViewWidthSize>
  <DataGridViewWidthArraySize>70</DataGridViewWidthArraySize>
  <DataGridViewWidthValue>70</DataGridViewWidthValue>
  <FormLocation_X>348</FormLocation_X>
  <FormLocation_Y>205</FormLocation_Y>
  <FormSize_X>1165</FormSize_X>
  <FormSize_Y>820</FormSize_Y>
  <SplitterDistance>275</SplitterDistance>
  <WatchListSplitterDistance>486</WatchListSplitterDistance>
  <ShowVAParameter>True</ShowVAParameter>
  <ShowCOMTaskPlatformObjects>True</ShowCOMTaskPlatformObjects>
  <ShowGEOTaskPlatformObjects>True</ShowGEOTaskPlatformObjects>
  <ShowCOMTaskAxesObjects>True</ShowCOMTaskAxesObjects>
  <ShowCOMTaskChannelAxesObjects>True</ShowCOMTaskChannelAxesObjects>
  <ShowCOMTaskChannelObjects>True</ShowCOMTaskChannelObjects>
  <ShowGEOTaskAxesHLDObjects>True</ShowGEOTaskAxesHLDObjects>
  <ShowGEOTaskAxesPOS_CTRLObjects>True</ShowGEOTaskAxesPOS_CTRLObjects>
  <ShowGEOTaskChannelAxesObjects>True</ShowGEOTaskChannelAxesObjects>
  <ShowGEOTaskChannelHLDObjects>True</ShowGEOTaskChannelHLDObjects>
  <ShowGEOTaskChannelIPOObjects>True</ShowGEOTaskChannelIPOObjects>
  <ShowSDATaskChannelAxesBavoObjects>True</ShowSDATaskChannelAxesBavoObjects>
  <ShowSDATaskChannelAxesDECObjects>True</ShowSDATaskChannelAxesDECObjects>
  <ShowSDATaskChannelBavoObjects>True</ShowSDATaskChannelBavoObjects>
  <ShowSDATaskChannelDECObjects>True</ShowSDATaskChannelDECObjects>
  <ShowPParameter>True</ShowPParameter>
  <ShowVEParameter>True</ShowVEParameter>
  <ShowVGParameter>True</ShowVGParameter>
  <ShowVPParameter>True</ShowVPParameter>
  <ShowVSParameter>True</ShowVSParameter>
  <ShowVLParameter>True</ShowVLParameter>
  <ShowPLCTaskAxObjects>True</ShowPLCTaskAxObjects>
  <ShowPLCTaskChObjects>True</ShowPLCTaskChObjects>
  <ShowPLCTaskPlatformObjects>True</ShowPLCTaskPlatformObjects>
  <ShowPLCTaskCNCSystemObjects>True</ShowPLCTaskCNCSystemObjects>
  <LoadVEConfigAtStartup>False</LoadVEConfigAtStartup>
  <VERepositoryFileName>
  </VERepositoryFileName>
  <LoadLocalVEVariablesViaADS>False</LoadLocalVEVariablesViaADS>
  <LoadRemoteVEVariablesViaADS>False</LoadRemoteVEVariablesViaADS>
  <ShowNode>True</ShowNode>
  <WatchListWidthDescription>250</WatchListWidthDescription>
  <PlcPort>0</PlcPort>
  <PLCPort>0</PLCPort>
</settings>