<?xml version="1.0"?>
<configuration>    
    <configSections>
    </configSections>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TwinCAT.Ads" publicKeyToken="180016CD49E5E8C3" culture="neutral"/>
		  <!--  <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="2.0.16.0"/>-->
		  <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="4.3.0.0"/>
	</dependentAssembly>
		<probing privatePath="externalReferences;References"/>
    </assemblyBinding>
  </runtime>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
